<!DOCTYPE html>
<html><head>
    <title>Fysiske Love | &&&&&&&&&&</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="layout/stylesheet.css" />
</head>

<header>
    <a class="kontakt_os" href="/kontakt_os.html">Kontakt os</a>
    <h5><i>Rasmus Haver og Kasper Grande</i></h5>
    <hr>
    <h1>&&&&&&&</h1>
    <hr>
</header>

<nav class="navigation">
    <a style="padding:15px" href="index.html">Hjem </a> |
    <a style="padding:15px" href="ohms_lov.html">Ohms Lov</a> |
    <a style="padding:15px" href="afstandskvadratloven.html">Afstandskvadratloven</a> |
    <a style="padding:15px" href="newton/newtons_tre_love.html">Newtons 3 love</a>|
    <a style="padding:15px" href="regnemaskine.html">Regnemaskine</a>
</nav>

<body>

    <section>
        <aside>
            <p style="font-size:15px">
            </p>
        </aside>
    </section>


    <footer style="padding-bottom: 35px">
        <p style="font-size:12px">Dette er et studieprojekt
            <br>
            Kilde: <a href="https://da.wikipedia.org/wiki/Ohms_lov">Wikipedia</a>
        </p>
    </footer>
</body></html>
